.carouselComponent {
    position: absolute;
}

.carouselElement {
    position: absolute;
    height: 100%;
    width: 100%;
}

.carousel-left, .carousel-right {
    position: relative;
    height: 300px;
    width: 500px;
    overflow: hidden;
}

.carousel-left .switch-enter {
    transform: translateX(500px);
}

.carousel-left .switch-enter-active {
    transform: none;
    transition: transform 500ms ease-out;
}

.carousel-left .switch-exit {
    transform: none;
}

.carousel-left .switch-exit-active {
    transform: translateX(-500px);
    transition: transform 500ms ease-out;
}

.carousel-right .switch-enter {
    transform: translateX(-500px);
}

.carousel-right .switch-enter-active {
    transform: none;
    transition: transform 500ms ease-out;
}

.carousel-right .switch-exit {
    transform: none;
}

.carousel-right .switch-exit-active {
    transform: translateX(500px);
    transition: transform 500ms ease-out;
}