.carouselElement {
    position: absolute;
    height: 100%;
    width: 100%;
}

.elements {
    position: relative;
    height: 300px;
    width: 500px;
    overflow: hidden;
}

.switch-left-enter {
    transform: translateX(500px);
}

.switch-left-enter-active {
    transform: none;
    transition: transform 500ms ease-out;
}

.switch-left-exit {
    transform: none;
}

.switch-left-exit-active {
    transform: translateX(-500px);
    transition: transform 500ms ease-out;
}

.switch-right-enter {
    transform: translateX(-500px);
}

.switch-right-enter-active {
    transform: none;
    transition: transform 500ms ease-out;
}

.switch-right-exit {
    transform: none;
}

.switch-right-exit-active {
    transform: translateX(500px);
    transition: transform 500ms ease-out;
}